.adminui-main{
	position:relative;
}

.fs-form-wrapper {
	.fs-form-header {
		.fs-form-header-left {
			justify-items: flex-start;
			font-weight: bold;
			font-size: medium;
		}

		.fs-form-header-action{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

}

.fs-file-uploader .el-upload--picture-card i {
	margin-top: 0px;
}
